<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span>Main</span>
      <hr />
    </li>
    <li>
      <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="ti-dashboard mr-20"></i><span class="right-nav-text">Dashboard</span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
      <ul id="dashboard_dr" class="collapse collapse-level-1">
        <li>
          <a asp-page="/Index">Home</a>
        </li>
        <li>
          <a asp-page="/About">About</a>
        </li>
        <li>
          <a asp-page="/Contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr"><div class="pull-left"><i class="ti-shopping-cart  mr-20"></i><span class="right-nav-text">E-Commerce</span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
      <ul id="ecom_dr" class="collapse collapse-level-1">
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Product Detail</a>
        </li>
        <li>
          <a href="#">Add Product</a>
        </li>
        <li>
          <a href="#">Orders</a>
        </li>
        <li>
          <a href="#">Cart</a>
        </li>
        <li>
          <a href="#">Checkout</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);" data-toggle="collapse" data-target="#app_dr"><div class="pull-left"><i class="ti-image mr-20"></i><span class="right-nav-text">Apps </span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
      <ul id="app_dr" class="collapse collapse-level-1">
        <li>
          <a href="#">chats</a>
        </li>
        <li>
          <a href="#">calendar</a>
        </li>
        <li>
          <a href="#">weather</a>
        </li>
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#email_dr">Email<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="email_dr" class="collapse collapse-level-2">
            <li>
              <a href="#">inbox</a>
            </li>
            <li>
              <a href="#">detail email</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#contact_dr">Contacts<div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="contact_dr" class="collapse collapse-level-2">
            <li>
              <a href="#">list</a>
            </li>
            <li>
              <a href="#">cards</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">File Manager</a>
        </li>
        <li>
          <a href="#">To Do/Tasklist</a>
        </li>
      </ul>
    </li>
    <li class="navigation-header mt-20">
      <span>component</span>
      <hr />
    </li>
    <li>
      <a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="ti-pencil-alt  mr-20"></i><span class="right-nav-text">UI Elements</span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
      <ul id="ui_dr" class="collapse collapse-level-1 two-col-list">
        <li>
          <a href="#">Panels & Wells</a>
        </li>
        <li>
          <a href="#">Modals</a>
        </li>
        <li>
          <a href="#">Sweet Alerts</a>
        </li>
        <li>
          <a href="#">notifications</a>
        </li>
        <li>
          <a href="#">Typography</a>
        </li>
        <li>
          <a href="#">Buttons</a>
        </li>
        <li>
          <a href="#">Accordion / Toggles</a>
        </li>
        <li>
          <a href="#">Tabs</a>
        </li>
        <li>
          <a href="#">Progress bars</a>
        </li>
        <li>
          <a href="#">Skills & Counters</a>
        </li>
        <li>
          <a href="#">Pricing Tables</a>
        </li>
        <li>
          <a href="#">Nestables</a>
        </li>
        <li>
          <a href="#">Dropdowns</a>
        </li>
        <li>
          <a href="#">Tree View</a>
        </li>
        <li>
          <a href="#">Carousel</a>
        </li>
        <li>
          <a href="#">Range Slider</a>
        </li>
        <li>
          <a href="#">Grid</a>
        </li>
        <li>
          <a href="#">Bootstrap UI</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);" data-toggle="collapse" data-target="#comp_dr"><div class="pull-left"><i class="ti-check-box  mr-20"></i><span class="right-nav-text">Components</span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
      <ul id="comp_dr" class="collapse collapse-level-1">
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr"><div class="pull-left"><span class="right-nav-text">Forms</span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="form_dr" class="collapse collapse-level-2 two-col-list dr-change-pos">
            <li>
              <a href="#">Basic Forms</a>
            </li>
            <li>
              <a href="#">form Layout</a>
            </li>
            <li>
              <a href="#">Form Advanced</a>
            </li>
            <li>
              <a href="#">Form Mask</a>
            </li>
            <li>
              <a href="#">Form Picker</a>
            </li>
            <li>
              <a href="#">form Validation</a>
            </li>
            <li>
              <a href="#">Form Wizard</a>
            </li>
            <li>
              <a href="#">X-Editable</a>
            </li>
            <li>
              <a href="#">Cropperjs</a>
            </li>
            <li>
              <a href="#">File Upload</a>
            </li>
            <li>
              <a href="#">Dropzone</a>
            </li>
            <li>
              <a href="#">Bootstrap Wysihtml5</a>
            </li>
            <li>
              <a href="#">Tinymce Wysihtml5</a>
            </li>
            <li>
              <a href="#">summernote</a>
            </li>
            <li>
              <a href="#">typeahead</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#chart_dr"><div class="pull-left"><span class="right-nav-text">Charts </span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="chart_dr" class="collapse collapse-level-2 dr-change-pos">
            <li>
              <a href="#">Flot Chart</a>
            </li>
            <li>
              <a href="#">Echart Chart</a>
            </li>
            <li>
              <a href="#">Morris Chart</a>
            </li>
            <li>
              <a href="#">chartjs</a>
            </li>
            <li>
              <a href="#">chartist</a>
            </li>
            <li>
              <a href="#">Easy Pie Chart</a>
            </li>
            <li>
              <a href="#">Sparkline</a>
            </li>
            <li>
              <a href="#">Peity Chart</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#table_dr"><div class="pull-left"><span class="right-nav-text">Tables</span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="table_dr" class="collapse collapse-level-2 dr-change-pos">
            <li>
              <a href="#">Basic Table</a>
            </li>
            <li>
              <a href="#">Bootstrap Table</a>
            </li>
            <li>
              <a href="#">Data Table</a>
            </li>
            <li>
              <a href="#">Export Table</a>
            </li>
            <li>
              <a href="#">RSPV DataTable</a>
            </li>
            <li>
              <a href="#">Responsive Table</a>
            </li>
            <li>
              <a href="#">Editable Table</a>
            </li>
            <li>
              <a href="#">Foo Table</a>
            </li>
            <li>
              <a href="#">Jsgrid Table</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#icon_dr"><div class="pull-left"><span class="right-nav-text">Icons</span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="icon_dr" class="collapse collapse-level-2 dr-change-pos">
            <li>
              <a href="#">Fontawesome</a>
            </li>
            <li>
              <a href="#">Themify</a>
            </li>
            <li>
              <a href="#">Linea</a>
            </li>
            <li>
              <a href="#">Simple Line</a>
            </li>
            <li>
              <a href="#">Pe-icon-7</a>
            </li>
            <li>
              <a href="#">Glyphicons</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#maps_dr"><div class="pull-left"><span class="right-nav-text">maps</span></div><div class="pull-right"><i class="ti-angle-down "></i></div><div class="clearfix"></div></a>
          <ul id="maps_dr" class="collapse collapse-level-2 dr-change-pos">
            <li>
              <a href="#">Vector Map</a>
            </li>
            <li>
              <a href="#">Google Map</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>