
$green: #22af47;
$seagreen: #007153;
$yellow: #ffbf36;
$red: #f83f37;
$blue: #0092ee;
$skyblue: #00acf0;
$lightblue: #57bce1;
$navyblue: #243f6b;
$pink: #ed1b60;
$babypink: #e284a3;
$chrome: #feb424;
$orange_light_4: #fff4f0;
$orange_light_3: #ffcfbe;
$orange_light_2: #ffaf93;
$orange_light_1: #ff936d;
$orange: #ff6028;
$orange_dark_1: #fb551c;
$orange_dark_2: #e8470f;
$orange_dark_3: #dd3f08;
$orange_dark_4: #c63300;
$cyan: #1ebccd;
$neon: #88c241;
$lime: #d0d962;
$teal: #009b84;
$brown: #7a5449;
$purple: #ab26aa;
$violet: #6640b2;
$lightviolet: #bb9ac1;
$gold: #c1993f;
$silver: #83878d;
$black: #272B34;
$grey: #727272;
$grey2: #adadad;
$beige: #f7ce99;
$light_grey: #eee;
$menu_bg_col_1: #272B34;
$menu_bg_col_2: #272B34;
$white: #fff;
$twitter_blue: #00aced;
$light_white: rgba(255,255,255,0.1);
$xtra_lighter_grey: rgba(33,33,33,0.05);
$xtra_lighter_white: rgba(255,255,255,0.05);
$font_main: 'Roboto', sans-serif;
