.easypiechart {
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    width: 100px;

    canvas {
        left: 0;
        position: absolute;
        top: 0;
    }

    .percent {
        color: $black;
        display: inline-block;
        font-size: 14px;
        line-height: 100px;
        z-index: 2;

        &:after {
            content: "%";
            font-size: 14px;
            margin-left: 1px;
        }
    }
}

.easypiechart.easypiechart-widget-pie {
    margin-bottom: 5px;
    margin-top: 5px;
}

.pie-chart > span {
    left: 0;
    margin-top: -2px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.easypiechart > span > img {
    height: 60%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
}
