.jqstooltip {
    width: auto !important;
    height: auto !important;
    background: rgba(33,33,33,1) !important;
    border: none !important;
}

.sparkline {
    canvas {
        width: 100% !important;
    }
}
