@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

@section Breadcrumb {
  <div class="row heading-bg">
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
        <li class="active"><span>@ViewData["Title"]</span></li>
      </ol>
    </div>
    <!-- /Breadcrumb -->
  </div>
}


<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
